<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/styleServices.css">
 
</head>

<body>
              <header>
    <div class="top-bar">
        <div class="container">
            <div class="top-left">
                <ul><li><i class="fa-solid fa-envelope"></i>presales@logic-motive.com</li><li><i class="fa fa-phone"></i> +91-7276075921</li></ul>
            </div>
            <div class="top-right"><ul><li><i class="fa fa-clock"></i> Mon–Fri: 9:00 AM – 6:00 PM</li></ul></div>
        </div>
    </div>

    <nav class="navbar">
        <div class="logo">
            <img src="../../static/assets/LogicMotive Consultant (1) copy.webp" alt="Logic Motive Logo" height="40">
        </div>

        <div class="menu-toggle" id="mobile-toggle">
            <span></span><span></span><span></span>
        </div>

        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">Services +</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">SAP Services</a></li>
                    <li><a class="dropdown-item" href="#">Staffing Solution</a></li>
                    <li><a class="dropdown-item" href="#">ERP Next Implementation</a></li>
                    <li><a class="dropdown-item" href="#">PMO & Audit Services</a></li>
                    <li><a class="dropdown-item" href="#">Digital Tranformation</a></li>



                </ul>
            </li>
             <li><a href="#">Product</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact Us</a></li>
           
             
        </ul>

        <div class="dot-menu" id="dot-toggle">
            <span></span><span></span><span></span>
            <span></span><span></span><span></span>
            <span></span><span></span><span></span>
        </div>
    </nav>

   <div class="contact-section" id="contactSection">
    <span class="close-contact">&times;</span>
    
    <img src="../../static/assets/LogicMotive Consultant (1) copy.webp" alt="Logic Motive Logo" height="40">
    
    <p class="contact-desc">
        Logic-motive can help you grow higher with the right SAP consulting services and solutions at the right time. Let us do it for you!
    </p>
    
    <div class="contact-info">
        <div class="info-item"><i class="fa-solid fa-location-dot"></i> Mukai Chowk Pune</div>
        <div class="info-item"><i class="fa-solid fa-phone"></i> +91-7276075921</div>
        <div class="info-item"><i class="fa-solid fa-envelope"></i>presales@logic-motive.com</div>
        <div class="info-item"><i class="fa-solid fa-clock"></i> 9:00 - 17:00</div>
    </div>
</div>
</header>

    <section class="hero">
        <div class="hero-content">
            <span class="accent-text" id="hero-accent">LogicMotive Enterprise</span>
            <h1 id="hero-title">Enterprise Solutions That Drive Business Growth</h1>
            <p class="hero-p" id="hero-p">From SAP implementations and staffing solutions to modern digital
                transformation.</p>
            <a href="#" class="hero-btn">Book a Consultation</a>
        </div>
    </section>

    <div class="services-wrapper">
        <div class="service-row">
            <div class="service-visual">
                <img src="../../static/assets/SAPServices.png" alt="SAP">
            </div>
            <div class="service-info">
                <h2>SAP Services</h2>
                <h4>Implementation & Support</h4>
                <p>End-to-end implementation for SAP ECC, S/4 HANA, and SAP Business One .</p>
                <ul>
                    <li>We ensure our customers get the right SAP product blend. We deliver projects in various modes
                        (Onsite/Offshore/Mixed) for SAP R/3, S/4 HANA, and SAP Business One .</li>
                    <li>We provide services on a Time & Material basis. Get more done in less time with expert SAP
                        consultants delivered quickly to fill your capacity gaps.</li>
                    <li>Sales, Procurement, Inventory, Finance, Production, and Service modules. We also provide Crystal
                        Reports design and custom table creation.</li>
                </ul>
            </div>
        </div>

        <div class="service-row">
            <div class="service-visual">
                <img src="../../static/assets/Staffing1.png" alt="Staffing">
            </div>
            <div class="service-info">
                <h2>Staffing Solutions</h2>
                <h4>5000+ candidates pool</h4>
                <p>Rapid deployment of skilled consultants from a pool of 5000+ candidates.</p>
                <ul>
                    <li>We possess a vast pool of 5,000+ candidates diversified over 20 different modules including FI,
                        MM, SD, PP, ABAP, Fiori, BW/SAC, and GRC.</li>
                    <li>Profile presentation within 4-6 weeks. Actual onboarding post-selection within 2 weeks.</li>
                    <li>We support both Offshore and Onshore staffing assignments. We are an empaneled vendor for major
                        IT giants.</li>
                </ul>
            </div>
        </div>

        <div class="service-row">
            <div class="service-visual">
                <img src="../../static/assets/ERPNextImp.png" alt="ERPNext">
            </div>
            <div class="service-info">
                <h2>ERPNext Implementation</h2>
                <h4>Open-Source Scalability</h4>
                <p>The best open-source alternative to proprietary ERPs.</p>
                <ul>
                    <li>ERPNext is a comprehensive, open-source ERP offering a modern Python/MariaDB stack, seamless
                        mobile access, and open APIs. It is the perfect scalable solution for SMBs looking for
                        functionality without heavy licensing costs.</li>
                    <li>Accounting, HR & Payroll, Supply Chain, Manufacturing, and CRM.</li>

                </ul>
            </div>
        </div>
        <div class="service-row">
            <div class="service-visual">
                <img src="../../static/assets/PMO&Audit.png" alt="ERPNext">
            </div>
            <div class="service-info">
                <h2>PMO & Audit Services</h2>
                <h4>Governance & Risk Mitigation</h4>
                <p>SAP Project Management Office support and ITGC Audits.</p>
                <ul>
                    <li>We support organizations with Audits where SAP system review is of prime importance. We can also
                        integrate into your bigger transformation projects as part of your PMO team, bringing our deep
                        understanding of the SAP Ecosystem to ensure governance and delivery excellence.</li>
                </ul>
            </div>
        </div>
        <div class="service-row">
            <div class="service-visual">
                <img src="../../static/assets/DataTransformation.png" alt="ERPNext">
            </div>
            <div class="service-info">
                <h2>Digital Transformation</h2>
                <h4>Custom Mobility & Business Insights</h4>
                <p>Custom Web, Mobile, and Data solutions.</p>
                <ul>
                    <li>Beyond ERP, we empower businesses with custom Android and Web Development tailored to specific
                        operational needs. We also unlock the value of your data using PowerBI and QlikSense solutions
                        to turn raw information into actionable business insights.</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="lightbox-overlay" id="overlay"></div>
    <footer class="footer">
        <div class="footer-container">

            <!-- Company Info -->
            <div class="footer-col">
                <img src="../../static/assets/LogicMotive Consultant (1) copy.webp" alt="Logic Motive"
                    class="footer-logo">
                <p class="footer-desc">
                    Logic-Motive is a technology consulting company delivering SAP,
                    ERP, and digital transformation solutions for growing businesses.
                </p>
            </div>

            <!-- Quick Links -->
            <div class="footer-col">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <!-- Contact Info -->
            <div class="footer-col">
                <h4>Contact</h4>
                <ul class="contact-list">
                    <li><i class="fa-solid fa-envelope"></i> presales@logic-motive.com</li>
                    <li><i class="fa-solid fa-phone"></i> +91-7276075921</li>
                    <li><i class="fa-solid fa-location-dot"></i> India</li>
                </ul>

                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>

        </div>

        <!-- Bottom Bar -->
        <div class="footer-bottom">
            <p>© 2026 Logic-Motive. All Rights Reserved.</p>
            <p class="footer-legal">
                CIN: U62099PN2023PTC219132 |
                GSTIN: 27AAFCL3440F1ZQ
            </p>
        </div>
    </footer>
  

</body>
<script src="../../static/js/main.js"></script>
<script src="../../static/js/service.js"></script>

</html>